.light {
  --color: black;
  --grey-color: #707070;
  --border-color: #e7e7e7;
  --button-disabled-bg-color: transparent;
  --background-color: #fff;
  --background-icon: url(https://huangjunyi-1310688513.cos.ap-shanghai.myqcloud.com/articleContent/%E5%A4%AA%E9%98%B3.png);
  --background-img: url('img/light.webp');
}
.dark {
  --color: #fff;
  --grey-color: #9b9b9b;
  --border-color: #363636;
  --button-disabled-bg-color: #9b9b9b;
  --background-color: #1a1a1a;
  --background-icon: url(https://huangjunyi-1310688513.cos.ap-shanghai.myqcloud.com/articleContent/%E6%9C%88%E4%BA%AE.png);
  --background-img: url('img/dark.webp');
}
